#Content {
    margin-left: 220px;
    margin-top: 50px;
    width: 200px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

    #Content a {
        font-family: "微软雅黑";
        font-size: 120%;
        margin-left: 0.4cm;
        margin-right: 0.4cm;
        text-decoration: none;
    }

    #Content h3 {
        font-family: "微软雅黑";
        margin-left: 15px;
    }
